.container1 {
    background-image: url(../protest/pictures/crowd.jpg);
    height: 510px;
    background-color: black;
}
.group {
    height: 510px;
    background-color: black;
    opacity: 0.6;
}


.nav-link {
    color: white;
}
.SOR1 {
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    font-family: Roboto; font-style:normal;
    font-weight:900; font-size: 70px;
    margin-top: 30px;
}
.SOR2 {
    color: white;
    font-family: Roboto; margin-top: -48px;
    font-weight:900; 
    font-style:normal; 
    font-size: 70px;
}
.SOR3 {
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    font-family: Roboto; font-style:normal;
    font-weight:900; font-size: 70px;
    margin-top: -47px;
}
.ipsum  {
    margin-top: -20px;
}
button {
    width: 120px; border-radius: 40px; height: 40px; margin-top: 50px;
    background-color: green; color: white;
}
.container2 {
    margin-top: 50px; 
    /* margin-left: 0px; margin-right: 0px; */
}
.row {
    margin-top: 40px;
}
/* .col {
    padding-left: 10%;
} */
.wwa {
    color:green;
}
p.row {
    background-color: green;
    width:45px; height:5px; 
    margin-left: 3px; margin-top: -10px;
}
.content {
    margin-top: 30px;
}

button.btn-success {
    width: 120px; 
    margin-top: 150px; margin-left: 30%;
    border-radius: 40px; height: 40px;
}

footer.text-center {
    background-color: rgba(0, 0, 0, 0.747); 
    color:white;
}

.container-fluid {
    width:100vw; height: 400px; margin-top: 40px;
}